body{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

span{
	margin-top: 10px;
	color: green;
	background-color: blue;
}

div{
	border-radius: 20px;
	width: 300px;
	height: 300px;
}
ul{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

li{
	margin-top: 10px;
	color: green;
	background-color: blue;
}

ul > li{
	border-radius: 20px;
	width: 300px;
	height: 300px;
}
a{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

a > li{
	margin-top: 10px;
	color: green;
	background-color: blue;
}

footer{
	border-radius: 20px;
	width: 300px;
	height: 300px;
}