body{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

span{
	margin-top: 10px;
	color: green;
	background-color: blue;
}

div{
	transition: 200ms all linear;
	userSelect: none;
	boxSizing: border-box;
	display: flex;
	color: yellow;
}