h1{
	 font-family: "Times New Roman", Georgia, Serif;
	 color: green;
} 
h2{
	font-family: Georgia, serif;
	color: grey;
}

a{
	transition: 200ms all linear;
	  userSelect: none;
	  boxSizing: border-box;
	  display: flex;
	  color: violet;
}
